header {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  background: #1D976C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #93F9B9, #1D976C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #131515;
}

header div img {
  width: 40%;
  padding: 40px 20px 0px 0px;
}

#vista_registro {
  background-color: #f5f3ed;
}

#vista_registro h2 {
  margin: 8px;
}

#vista_registro section {
  height: 560px;
}

#vista_login.hide {
  display: none;
}

#vista_registro.hide {
  display: none;
}

#img_login {
  width: 100%;
}

#img_login img {
  width: 60%;
  padding: 40px;
}

#vista_home.hide {
  display: none;
}

#caja-grupo {
  border-bottom: 1px solid #339989;
  width: 320px;
  height: auto;
}

#contenido #imagen-g {
  width: 95px;
  height: 95px;
  float: left;
}

#contenido #imagen-g img {
  width: 95px;
  height: 95px;
  margin-left: 5px;
  margin-top: 12px;
  float: left;
}

#info-g p {
  float: right;
  width: 180px;
  height: auto;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: flex;
  text-align: left;
}

#enlace-g {
  display: block;
  margin-top: 200px;
  width: 180px;
  height: 24px;
  margin-left: 105px;
  border-top: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
}

#imagen-detalle img {
  width: 320px;
  height: 420px;
}

#caja-detalle {
  width: 320px;
  margin-left: 45px;
  margin-top: 10px;
  border-top: 1px solid #339989;
  border-bottom: 1px solid #339989;
}

#caja-detalle p {
  text-align: center;
}

#tituloApp h1 {
  text-align: center;
  margin-left: 120px;
}

.about-grid h3 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  color: #2B2C28;
  text-align: center;
  width: auto;
}

.about-grid h4 {
  font-size: 1.5em;
  font-weight: bold;
  color: #339989;
  text-align: left;
  border-top: 1px solid #2B2C28;
  margin-left: 4px;
  margin-bottom: 0.5em;
}

.about-grid p {
  font-size: 1.2em;
  color: #131515;
  line-height: 1.5em;
  text-align: left;
  margin-left: 4px;
  width: auto;
}

.team-grid h3 {
  font-size: 2em;
  color: #339989;
  font-weight: bold;
  border-top: 1px solid #339989;
  margin: 0.6em 0 0.3em;
}

.team-grid div {
  margin-top: 5px;
  font-size: 1.2em;
  color: #131515;
  text-align: center;
  line-height: 1em;
}

.team-grid {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.imagen-team {
  width: 90px;
  height: 100px;
  margin-left: 5px;
  display: inline-block;
}

.enlaces-registro {
  font-size: 2em;
}

#vista_registro #tituloRegistro {
  margin: 25px;
  color: #131515;
  background-color: #7DE2D1;
}

#formulario {
  font-size: 1.5em;
  line-height: 1em;
  color: #131515;
}

#boton_regist {
  background-color: #339989;
  color: #2B2C28;
  font-weight: bold;
}

#vista_login {
  background-color: #f5f3ed;
  height: 650px;
}

#celular {
  width: 100%;
}

@media (max-width: 420px) {
  body {
    background-color: #f5f3ed;
  }
}
@media (max-width: 390px) {
  #celular {
    width: 390px;
  }
}
@media (max-width: 360px) {
  #celular {
    width: 360px;
  }

  .imagen-team {
    width: 85px;
  }
}
#contenedor-recuadro {
  width: 100%;
  display: flex;
  justify-content: center;
}

#home {
  text-align: right;
  width: 20%;
}

#menu {
  text-align: left;
  width: 20%;
}

#titulo {
  border-bottom: 1px solid #131515;
  width: 60%;
}

main {
  width: 100%;
}

#enlace {
  display: flex;
  width: 100%;
  background-color: #f5f3ed;
}

#espaciado {
  width: 11%;
}

#contenido {
  display: flex;
  width: 78%;
}

#contenido #imagen {
  width: 30%;
}

#contenido #imagen img {
  width: 50%;
  padding: 20px 15px 0px 15px;
}

#contenido #texto {
  text-align: left;
  width: 70%;
  border-bottom: 1px solid #339989;
}

#contenido #imagen-ap img {
  width: 95px;
  height: 95px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 3px;
}

#caja {
  border-bottom: 1px solid #339989;
  width: 222px;
  height: auto;
}

#contenido #texto-box {
  text-align: left;
  width: 60%;
}

#texto-box p {
  width: 175px;
  height: 90px;
  margin-inline-start: 3px;
  margin-inline-end: 3px;
  height: auto;
}

#combobox {
  width: 145px;
  height: 25px;
  margin-left: 260px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#open-menu {
  background: none;
  border-style: none;
  cursor: pointer;
}

#recuadro_s {
  display: none;
  border-radius: 10px;
  position: fixed;
  background-color: white;
  z-index: 3;
  padding: 40px;
  top: 40%;
}

#body-overlay {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#body-overlay2 {
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

#real-menu {
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 4;
  width: 300px;
  height: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
  background-color: #FFFAFB;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: ease 0.2s all;
}

#body-overlay.menu-open {
  display: block;
}

#body-overlay2.menu-open {
  display: block;
}

#real-menu.menu-open {
  left: 0;
}

#recuadro_s.active {
  display: block;
}

#Fisica {
  display: block;
}

#Fisica.close {
  display: none;
}

#Biologia {
  display: block;
}

#Biologia.close {
  display: none;
}

#Calculo {
  display: block;
}

#Calculo.close {
  display: none;
}

html {
  font-size: 63.2%;
  text-align: center;
  font-family: "Fredoka", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  color: #2ca476;
}

p {
  font-size: 2rem;
}

label {
  font-size: 1.2em;
  color: #131515;
}

a {
  text-decoration: none;
  color: #339989;
  font-weight: bold;
  cursor: pointer;
}

ul {
  padding-left: 20px;
}

li {
  font-size: 2.5rem;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  line-height: 70px;
  border-bottom: 1px solid black;
}